#App
APP_HOST=localhost:8080
APP_PORT=8080
APP_SERVICE_NAME=golang-backend-k03-with-framework-echo-v4
APP_INSTANCE_ID=

#Database
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_DB=
DB_SSL_MODE=disable
DB_TIMEZONE=UTC
#Log
LOG_LEVEL=

#Redis
REDIS_ADDR=
REDIS_PASSWORD=
REDIS_DB=